ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

.carousel-container {
  width: 480px;
  height: 270px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.carousel-img-list {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-img-list > .list-item {
  height: 100%;
  display: inline;
  position: absolute;
}

.carousel-dot-list {
  width: 100%;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
}

.carousel-dot-list > .dot-list-item {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
  margin-left: 10px;
}

.carousel-dot-list > .dot-list-item :nth-of-type(1) {
  margin-left: 0;
}

.carousel-dot-list > .dot-list-item:hover {
  background: #ff440094;
}

.carousel-dot-list > .active {
  background: #ff4500 !important;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
}

.carousel-prev {
  left: 15px;
}

.carousel-next {
  right: 15px;
}
