/*	#region	全局	*/
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");

// *,
// *::before,
// *::after {
//   box-sizing: content-box;
// }

css-icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  font-size: 20px;
  box-sizing: border-box;
  text-indent: -9999px;
  vertical-align: middle;
  position: relative;
}
css-icon::before,
css-icon::after {
  content: "";
  box-sizing: inherit;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

html {
  width: 100vw;
  height: 100vh;
  line-height: 1.5;
  font-weight: 300;
  font-family: "ZCOOL KuaiLe", cursive;
  color: var(--font-color);
  text-align: left;
  font-size: 20px;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  background-color: var(--bg-main-color);
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--link-color);
  text-decoration: none;
  outline: none;
}

/*	#endregion	*/

@media screen and (min-width: 865px) {
  /*	#region	主题通用部分	*/
  .title-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--bg-main-color);
    box-shadow: var(--shadow-out-md);
  }

  .main-page {
    margin-top: 5rem;
  }
  .navbar_hamburger-btn {
    display: none;
  }

  .navbar_nav-list,
  .navbar_sub-nav-list,
  .navbar_secondary-nav-list,
  .navbar_hamburger-btn_label,
  .blog_section,
  .blog_section_img,
  .carousel_main {
    background-color: var(--bg-main-color);
    border-radius: 1rem;
    border: var(--border);
    box-shadow: var(--shadow-out-md);
  }

  .carousel_container {
    background-color: var(--bg-main-color);
    border-radius: 1rem;
    box-shadow: var(--shadow-in-md);
  }

  .navbar_nav-list,
  .navbar_sub-nav-list,
  .navbar_secondary-nav-list {
    .navbar_list-item {
      // background-color: var(--bg-color);
      background-color: var(--bg-main-color);
      border-radius: 1rem;
    }
  }

  .active {
    & > .navbar_nav_link {
      img {
        transform: rotate(180deg);
      }
    }
    & > .navbar_sub-nav-list,
    & > .navbar_secondary-nav-list {
      width: 7rem;
      display: block;
    }
  }

  /*	#endregion	*/

  /* #region 导航栏 navbar 凹槽新拟态 */
  .navbar_main {
    /*	布局	*/
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    margin: auto;
    /*  样式  */
    // background-color: var(--bg-main-color);
    // box-shadow: var(--shadow-out-md);
  }

  .navbar_nav-list {
    /*	布局	*/
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 0 1rem;
    margin: auto;
    /* border: var(--border); */

    .navbar_list-item {
      /*	布局	*/
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .navbar_list-item {
    /*	布局	*/
    position: relative;
  }

  .navbar_nav_link {
    position: relative;
    display: block;
    padding: 0 1rem;
    margin-right: 1rem;
    line-height: 2rem;
    font-size: 1rem;
    font-weight: 500;

    img {
      position: absolute;
      right: 0rem;
      top: 0.75rem;
      display: inline;
      max-height: 0.5rem;
      max-width: 0.5rem;
      transition: all 0.3s ease;
    }
  }

  .navbar_sub-nav-list {
    display: none;
    position: absolute;
    left: 0;
    top: 120%;
    list-style: none;
    margin: 0;

    .navbar_list-item {
      position: relative;
      font-size: 0.8rem;
      font-weight: 400;
      display: block;
      margin: 0;
      margin-bottom: 0.5rem;
      &:nth-last-child(1) {
        margin-bottom: 0;
      }

      a {
        span {
          display: inline-block;
        }

        img {
          display: inline-block;
          max-height: 10px;
          max-width: 10px;
          transition: all 0.3s ease;
        }
      }
    }
  }

  .navbar_secondary-nav-list {
    display: none;
    position: absolute;
    left: 110%;
    top: 0;
  }

  .blog_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem auto;
    width: 30rem;
    height: 15rem;
    padding: 1rem;
    overflow: hidden;

    .blog_section_img {
      border-radius: 1rem;
      width: 100rem;
      padding: 1rem;

      img {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        box-shadow: none;
      }
    }

    .blog_section_content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      padding: 1rem;

      a {
        margin: 0;
        font-size: 1rem;
      }

      p {
        overflow: hidden;
        height: 10rem;
      }
    }

    .blog_section_details {
      span {
        svg {
          height: 1rem;
          margin-right: 0.5rem;
        }
      }
      a {
        float: right;
        svg {
          height: 1rem;
          margin-right: 0.5rem;
        }
      }
    }
  }
  /* #endregion */
}

@media screen and (max-width: 864px) {
  html {
    font-size: 14px !important;
  }
  /*	#region	主题通用部分	*/

  .title-bar {
    position: fixed;
    height: 4.5rem;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    background: var(--bg-main-color);
    box-shadow: var(--shadow-out-md);
  }
  .main-page {
    margin-top: 6rem;
  }
  .navbar_hamburger-btn {
    position: fixed;
    display: block !important;
    right: 1rem;
    top: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    outline: none;
    z-index: 10000;
  }

  .navbar_hamburger-btn_input {
    display: none;
  }

  .checked .navbar_hamburger-btn_label {
    box-shadow: var(--shadow-in-sm);

    i {
      // width: 1.2rem;
      transition: transform 0.2s ease;

      &:nth-child(1) {
        margin-top: 1.175rem;
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        margin-top: -0.3rem;
        opacity: 0;
      }
      &:nth-child(3) {
        margin-top: 0;
        transform: rotate(45deg);
      }
    }
  }

  .navbar_hamburger-btn_label {
    box-shadow: var(--shadow-out-md);
    border-radius: 1rem;
    border: var(--border);

    display: block;
    height: 2.5rem;
    width: 2.5rem;
    background: var(--bg-main-color);
    i {
      display: block;
      width: 1.5rem;
      height: 0.15rem;
      background: #000000;
      border-radius: 0.3rem;
      margin: 0 auto;
      transition: transform 0.2 ease !important;

      &:nth-child(1) {
        margin-top: 0.725rem;
        transform: rotate(0);
      }

      &:nth-child(2) {
        margin-top: 0.3rem;
      }
      &:nth-child(3) {
        margin-top: 0.3rem;
        transform: rotate(0);
      }
    }
  }

  .navbar_nav-list {
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    z-index: 9998;

    font-size: 1.5rem;
    overflow: hidden;
    height: 0;
    opacity: 0;

    border-radius: 1rem;
    background: var(--bg-main-color);

    transition: all 0.3s ease;
  }

  .showNavbar {
    top: 1rem;
    padding: 1rem;
    padding-top: 4rem;
    height: 80vh;
    opacity: 1;
    box-shadow: var(--shadow-out-md);
  }

  .blog_section,
  .blog_section_img {
    box-shadow: var(--shadow-out-md);
    border-radius: 1rem;
  }

  .navbar_sub-nav-list,
  .navbar_secondary-nav-list {
    height: 0;
    overflow: hidden;
    box-shadow: var(--shadow-in-sm);
    font-size: 1.2rem;
    border-radius: 1rem;
    .navbar_list-item {
      overflow: hidden;
      border-radius: 1rem;
    }
  }

  .navbar_list-item {
    margin-bottom: 0.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .navbar_nav_link {
    border-radius: 1rem;
    display: block;
    position: relative;
    padding: 0.5rem 1rem;
    img {
      position: absolute;
      right: 1rem;
      top: 1.2rem;
      max-width: 1rem;
      transform: rotate(180deg);
      transition: all 0.2s ease;
    }
    &:hover {
      box-shadow: var(--shadow-in-sm);
    }
  }

  .active {
    margin-bottom: 1rem;
    & > .navbar_sub-nav-list,
    & > .navbar_secondary-nav-list {
      margin: 0.5rem;
      padding: 0.5rem;

      height: auto;
    }

    & > .navbar_sub-nav-list {
      & > .active {
        height: auto;
      }
    }

    & > .navbar_nav_link {
      margin-bottom: 1rem;
      box-shadow: var(--shadow-in-sm);
      img {
        transform: rotate(0deg);
      }
    }
  }

  .blog_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem auto;
    width: 30rem;
    // height: 45rem;
    padding: 2rem;

    .blog_section_img {
      border-radius: 1rem;
      padding: 1rem;

      img {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: auto;
        box-shadow: none;
      }
    }

    .blog_section_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.5rem;

      padding: 1rem;

      a {
        margin: 0;
      }

      p {
        overflow: hidden;
        height: 5rem;
      }
    }

    .blog_section_details {
      span {
        svg {
          height: 1rem;
          margin-right: 0.5rem;
        }
      }
      a {
        float: right;
        svg {
          height: 1rem;
          margin-right: 0.5rem;
        }
      }
    }
  }

  /*	#endregion	*/

  /*	#region	标题栏 title-bar 凹槽新拟态	*/
  /*	#endregion	*/
}
