/*	#region	全局	*/
*,
*::before,
*::after {
  box-sizing: content-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(38, 40, 51, 0);
}

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: var(--font-color);
  text-align: left;
  background-color: var(--bg-main-color);
}
/*	#endregion	*/

/*	#region	主题通用部分	*/
.navbar_nav-list,
.navbar_sub-nav-list,
.navbar_secondary-nav-list,
.carousel_main {
  background-color: var(--bg-main-color);
  border-radius: 15px;
  border: var(--border);
  box-shadow: var(--shadow-out-md);
}

.carousel_container {
  background-color: var(--bg-main-color);
  border-radius: 15px;
  box-shadow: var(--shadow-in-md);
}

.navbar_nav-list_item,
.navbar_sub-nav-list_item,
.navbar_secondary-nav-list_item {
  background-color: var(--bg-color);
  box-shadow: var(--shadow-out-md);
  border-radius: 10px;
}

.navbar_sub-nav-list_item:hover,
.navbar_nav-list_item:hover,
.navbar_secondary-nav-list_item:hover {
  box-shadow: var(--shadow-out-sm);
}
/*	#endregion	*/

/* #region 导航栏 navbar 凹槽新拟态 */
.navbar_main {
  /*	布局	*/
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  width: 100%;
  margin: auto;
  margin-bottom: 2rem;
  /*  样式  */
  background-color: var(--bg-main-color);
  box-shadow: var(--shadow-out-md);
}

.navbar_main a {
  color: var(--link-color);
  text-decoration: none;
  background-color: transparent;
}

.navbar_nav-list {
  /*	布局	*/
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding: 15px 20px;
  margin: auto;
  /* border: var(--border); */
}

.navbar_nav-list_item {
  /*	布局	*/
  position: relative;
  margin-right: 20px;
  padding: 0 35px;
}

.navbar_nav_link {
  position: relative;
  line-height: 2.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.navbar_nav_link img {
  display: inline;
  max-height: 10px;
  max-width: 10px;
  transition: all 0.3s ease;
}

.navbar_nav-list_item:hover .navbar_nav_link img {
  transform: rotate(180deg);
}

.navbar_nav-list_item:hover .navbar_sub-nav-list {
  display: block;
}

.navbar_sub-nav-list {
  display: none;
  position: absolute;
  left: 0;
  top: 120%;
  list-style: none;
  margin: 0;
  /* width: 100px; */
  z-index: 99;
}

.navbar_sub-nav-list_item {
  position: relative;
  width: 100px;
  line-height: 2rem;
  font-size: 0.8rem;
  font-weight: 400;
  display: block;
  padding: 5px 10px;
  margin: 15px;
}

.navbar_sub-nav-list_item a span {
  display: inline-block;
  width: 60px;
}

.navbar_sub-nav-list_item a img {
  display: inline-block;
  max-height: 10px;
  max-width: 10px;
  transition: all 0.3s ease;
}

.navbar_secondary-nav-list {
  list-style: none;
  padding-bottom: 15px;
  margin: 0;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 110%;
  top: 0;
  z-index: 98;

  display: none;
}

.navbar_secondary-nav-list_item {
  display: inline-block;
  padding: 5px 20px;
  margin: 15px;
  margin-bottom: 0;
}

.navbar_sub-nav-list_item:hover img {
  transform: rotate(-90deg);
}

.navbar_sub-nav-list_item:hover .navbar_secondary-nav-list {
  display: flex;
}
/* #endregion */

/* #region 轮播图 carousel*/
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

.carousel_main {
  width: 480px;
  height: 270px;
  margin: 0 auto;
  padding: 15px;
}

.carousel_container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel_img-list {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel_img-list_item {
  display: inline;
  position: absolute;
}

.carousel_dot-list {
  width: 100%;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
}

.carousel_dot-list_item {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
  margin-left: 10px;
}

.carousel_dot-list_item:nth-of-type(1) {
  margin-left: 0;
}

.carousel_dot-list_item:hover {
  background: #ff440094;
}

.carousel_dot-list > .active {
  background: #ff4500 !important;
}

.carousel_prev-btn,
.carousel_next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
}

.carousel_prev-btn {
  left: 15px;
}

.carousel_next-btn {
  right: 15px;
}

/* #endregion */
