@import "../../../styles/variables.scss";

.test-container {
  padding: 20px;
  width: 100%;
  text-align: center;
  background: $neu-main-them-color;
  color: white;

  & > div {
    overflow: hidden;
    display: inline-block;
    width: 30%;
    height: 200px;
    box-sizing: border-box;
    border: 1px black solid;

    & > div {
      overflow: hidden;
      margin-bottom: 8px;
    }
  }
}

// 整体
// 突起
.protuberant-container {
  @include protuberant;
}
// 塌陷
.sunken-container {
  @include sunken;
}
// 常规
.common-container {
  @include common;
}

// hover 突起
.hover-protuberant:hover {
  @include protuberant;
}
// hover 塌陷
.hover-sunken:hover {
  @include sunken;
}
// hover 常规
.hover-common:hover {
  @include common;
}

// hover 平面 凹陷
.hover-depress:hover {
  @include concave;
}
// hover 平面 突出
.hover-pop:hover {
  @include convex;
}
// hover 平面 平面
.hover-flat:hover {
  @include flat;
}

// 表面突起
.convex {
  @include convex;
}
// 表面平坦
.flat {
  @include flat;
}
// 表面凹下
.concave {
  @include concave;
}

// hover 表面突起
.hover-convex:hover {
  @include convex;
}
// hover 表面平坦
.hover-flat:hover {
  @include flat;
}
// hover 表面凹下
.hover-concave:hover {
  @include concave;
}

// .animate2 {
//   border-radius: 20px;
//   background: #444
//     linear-gradient(145deg, rgba(51, 51, 51, 0), rgba(41, 41, 41, 1));
//   box-shadow: 10px 10px 10px #141414, -10px -10px 10px #525252;
//   transition: all 0.4s;

//   &:hover {
//     background: #515151
//       linear-gradient(145deg, rgba(51, 51, 51, 0), rgba(51, 51, 51, 1));
//   }
// }
