.editKeywords {
  display: flex;
  align-items: center;
}

.editKeywords .editKeywordArea {
  min-height: 25px;
  min-width: 20px;
  padding: 2px;
  border: 1px #333 solid;
  border-radius: 3px;
  margin-left: 5px;
}

.keyword_edit {
  display: inline-block;
  margin: 0 2px;
  border-radius: 5px;
  line-height: 100%;
}

.keyword_edit span {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 2px;
  font-size: 70% !important;
  color: white;
  background: #0af;
  vertical-align: middle;
  margin: 2px 0;
  margin-right: 1px;
  cursor: pointer;
}

.keyword_edit:hover .remove {
  background: #0df;
}

.keywordControl {
  display: flex;
  flex-wrap: wrap;
}

.keywordControl {
  margin: 2px 0;
}

.keywordControl .addKeywordArea {
  display: flex;
  flex-grow: 1;
  margin: 5px 0;
}

.keywordControl .addKeywordArea .addKeywordInput {
  flex-grow: 1;
  margin: 0 2px;
}

.keywordControl .chooseKeywordArea {
  border: 1px #333 solid;
  width: 100%;
  border-radius: 3px;
  padding: 2px;
  min-height: 25px;
  flex-grow: 1;
  text-align: start;
}
